<section id="hero">
    <div class="text1">
        <h1 class="title">INDIVIDUAL BANK Analyzer</h1><h2 class="title">PERFORMANCE SNAPSHOT</h2>
        <p class="sub-title">Gain insights into the performance of individual banks by reviewing snapshots of results relative to peers.</p>
    </div>
    <div class="overlay">
        <div class="inner">
            <ul>
                <li class="selected"><a href="/individual">PERFORMANCE SNAPSHOT</a></li>
                <li>|</li>
                <li><a href="/individual/detailed-metrics">RATIOS & ANALYSIS</a></li>
                <li>|</li>
                <li><a href="/individual/outlook"><div class="premiuminline"><img HR WIDTH="15px" HR HEIGHT="15px" src="/app/assets/images/premium-icon-red.png"></div>&nbspESTIMATES & OUTLOOK</a></li>
                <li>|</li>
                <li><a href="/individual/simulation"><div class="premiuminline"><img HR WIDTH="15px" HR HEIGHT="15px" src="/app/assets/images/premium-icon-red.png"></div>&nbspWHAT-IF SIMULATOR</a></li>
                <li>|</li>
                <li><a href="/perspectives">DISCUSSION & PERSPECTIVES</a></li>
            </ul>
        </div>
    </div>

</section>

<section id="main" class="individual">
    <section id="filters">
        <div class="col">
            <h3>BANK HOLDING COMPANY:</h3>
            <select blklab-change="changeCompany" id="company-list">
                {{#each companies}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col">
            <h3>INDUSTRY SEGMENT:</h3>
            <select blklab-change="changeSegment" id="segment-list">
                {{#each segments}}
                    <option value="{{id}}" name="{{userId}}">{{segment}}</option>
                {{/each}}
            </select> 
			<div></div>
			
			<div class="segment_image">
				<img blklab-click="peerMenu" HR WIDTH="90%" HR HEIGHT="90%" src="/app/assets/images/multiple-users.svg">	
				<div id="peerMenu" class="peerMenu">
					<div blklab-click="showPeers">
        				<div class = "segment_image2" id="view_segment">
           					<img HR WIDTH="80%" HR HEIGHT="80%" src="/app/assets/images/glasses.png">
         				</div>
						<div class="peerSet">View segment participants</div>
						<div id="peerDetails"></div>
					</div>	
				<div></div>
					
        		<div blklab-click="addSegment">
					<div class="segment_image2">
        				<img HR WIDTH="80%" HR HEIGHT="80%" src="/app/assets/images/plus.png">
        			</div>
					<div class="peerSet" id="addSegment">Create custom segment</div>
				</div>
				<div blklab-click="editSegment">
				<div class="segment_image2">
           			<img HR WIDTH="70%" HR HEIGHT="70%" src="/app/assets/images/pencil.png">
           		</div>
					<div class="peerSet" id="editSegment">Edit existing segment</div>
				</div>
			</div>
		</div>	

        <div class="colhidden">
            <h3>SNAPSHOT:</h3>
            <select blklab-change="changeScreen" id="screen-list">
                {{#each screens}}
                    <option value="{{id}}">{{Screen_description}}</option>
                {{/each}}
            </select>
        </div>
<!--
        <div class="colhidden">
            <h2><img src="/app/assets/images/premium-icon-red.png"> PREMIUM CONTENT</h2>
        </div>
--!>
    </section>

    <section id="data">
        <div class="block single">
            <h4>SHAREHOLDER RETURNS</h4>
            <div class="chart-holder">
                <div class="chart">
                    <h3>Total Return - 5 years (%)</h3>
                    <div class="overlay">
                        <p id="tr_5_value" class="value"></p>
                        <p id="tr_5_perc" class="perc"></p>
                    </div>
                    <canvas id="tr_5" data-id="TR_5" class="graph" width="230%" height="230%"/>
                </div>
            </div>
        </div>

        <div class="block double">
            <h4>SHAREHOLDER VALUE DRIVERS</h4>
            <div class="chart-holder">
                <div class="chart">
                    <h3>Economic Profitability (%)</h3>
                    <div class="overlay">
                        <p id="spread_value" class="value"></p>
                        <p id="spread_perc" class="perc"></p>
                    </div>
                    <canvas id="spread" data-id="Spread" class="graph" width="230%" height="230%"/>
                </div>

                <div class="chart">
                    <h3>Equity Growth Rate (%)</h3>
                    <div class="overlay">
                        <p id="equity_growth_rate_value" class="value"></p>
                        <p id="equity_growth_rate_perc" class="perc"></p>
                    </div>
                    <canvas id="equity_growth_rate" data-id="Equity_Growth_Rate" class="graph" width="230%" height="230%"/>
                </div>
            </div>
        </div>

        <div class="block double">
            <h4>PROFITABILITY DRIVERS</h4>
            <div class="chart-holder">
                <div class="chart">
                    <h3>Return On Equity (%)</h3>
                    <div class="overlay">
                        <p id="roae_value" class="value"></p>
                        <p id="roae_perc" class="perc"></p>
                    </div>
                    <canvas id="roae" data-id="ROAE" class="graph" width="230%" height="230%"/>
                </div>

                <div class="chart">
                    <h3>Cost Of Capital (%)</h3>
                    <div class="overlay">
                        <p id="cost_of_capital_value" class="value"></p>
                        <p id="cost_of_capital_perc" class="perc"></p>
                    </div>
                    <canvas id="cost_of_capital" data-id="Cost_of_Capital" class="graph" width="230%" height="230%"/>
                </div>
            </div>
        </div>

        <div class="block full">
            <h4>RETURN ON EQUITY DRIVERS</h4>
            <div class="chart-holder">
                <div class="chart">
                    <h3>Efficiency Ratio (%)</h3>
                    <div class="overlay">
                        <p id="efficiency_ratio_value" class="value"></p>
                        <p id="efficiency_ratio_perc" class="perc"></p>
                    </div>
                    <canvas id="efficiency_ratio" data-id="Efficiency_Ratio" class="graph" width="230%" height="230%"/>
                </div>

                <div class="chart">
                    <h3>Loan Loss Ratio (%)</h3>
                    <div class="overlay">
                        <p id="llr_value" class="value"></p>
                        <p id="llr_perc" class="perc"></p>
                    </div>
                    <canvas id="llr" data-id="LLR" class="graph" width="230%" height="230%"/>
                </div>
                <div class="chart">
                    <h3>Asset Yield (%)</h3>
                    <div class="overlay">
                        <p id="asset_yield_value" class="value"></p>
                        <p id="asset_yield_perc" class="perc"></p>
                    </div>
                    <canvas id="asset_yield" data-id="Asset_Yield" class="graph" width="230%" height="230%"/>
                </div>

                <div class="chart">
                    <h3>Leverage</h3>
                    <div class="overlay">
                        <p id="leverage_value" class="value"></p>
                        <p id="leverage_perc" class="perc"></p>
                    </div>
                    <canvas id="leverage" data-id="Leverage" class="graph" width="230%" height="230%"/>
                </div>
                <div class="chart">
                    <h3>Effective Tax Rate (%)</h3>
                    <div class="overlay">
                        <p id="roaa_effective_tax_rate_value" class="value"></p>
                        <p id="roaa_effective_tax_rate_perc" class="perc"></p>
                    </div>
                    <canvas id="roaa_effective_tax_rate" data-id="ROAA_Effective_Tax_Rate" class="graph" width="230%" height="230%"/>
                </div>
            </div>
        </div>

    </section>
</section>
